@model Cashfluir.Web.Models.Expenses.CreateExpenseViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create Expense</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Shop)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Shop)
            @Html.ValidationMessageFor(model => model.Shop)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpenseType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ExpenseType, Model.ExpenseTypes)
            @Html.ValidationMessageFor(model => model.ExpenseType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Owner)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Owner, Model.Owners)
            @Html.ValidationMessageFor(model => model.Owner)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

