@model Cashfluir.Web.Models.Categories.CreateCategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skapa ny kategori</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Type, Model.Types)
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <br/>
        Berörda Användare
        <div>
        <ul>
        @foreach (var user in Model.Users)
        {
            <li><input type="checkbox" name="affectedUsersIds" value="@user.Id" /> @user.Name</li>
        }
        </ul>
        </div>
        <p>
            <input type="submit" value="Skapa" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

