@model Cashfluir.Web.Models.Categories.EditCategoryViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Redigera Kategori</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Type, Model.Types)
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <br/>
        Affected Users
        <div>
        <ul>
        @foreach (var user in Model.Users)
        {
            <li><input type="checkbox" @(Model.AffectedUsersIds.Contains(user.Id) ? "checked='checked'" : "") name="affectedUsersIds" value="@user.Id" /> @user.Name</li>
        }
        </ul>
        </div>
        <p>
            <input type="submit" value="Spara" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka", "Index")
</div>

