@model Cashfluir.Web.Models.Absence.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Registrera Frånvaro</h2>
<h3>
    Välj Användare</h3>
<ul>
    @foreach (var user in Model.Users)
    {
        <li>@Html.ActionLink(user.Name, "Index", new { id = user.Id })</li>
    }
</ul>
@if (Model.Days == null)
{
    return;
}
    <h3>Registrera för @Model.User.Name</h3>

    <h3>@Html.ActionLink("<<", "Index", new { id = Model.User.Id, year = Model.StartDate.AddMonths(-1).Year, month = Model.StartDate.AddMonths(-1).Month })
    @Model.Days.First().Date.ToString("MMMM")
    @Html.ActionLink(">>", "Index", new { id = Model.User.Id, year = Model.StartDate.AddMonths(1).Year, month = Model.StartDate.AddMonths(1).Month })</h3>

@using (Html.BeginForm("Register", "Absence", FormMethod.Post, new { id = Model.User.Id }))
{


    
    <ul>
        @foreach (var day in Model.Days)
        {
            <li>
                @day.Date.ToString("dd")
                @Html.CheckBox("cb_" + day.Date.ToShortDateString(), day.Abscent, new { value = day.Date.ToShortDateString() })
            </li>
        }
        
    </ul>
    <input id="submitButton" type="submit" value="Spara" />
}
<script type="text/javascript">

    $(document).ready(function () {
        jQuery.ajaxSettings.traditional = true;
        $("#submitButton").click(function (e) {
            e.preventDefault();
            var form = $(this).closest("form");
            var days = [];
            form.find(':checkbox:checked').each(function(){
                days.push($(this).val());
            });

            $.ajax({
                type: "POST",
                url: form.attr("action"),
                data: { id : "@Model.User.Id", dates : days},
                dataType: "json",
                success: function(data) {
                    alert('great');
                }
            });

        });
    });
</script>
