@model Cashfluir.Web.Models.Transactions.IndexTransactionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Redigera Överföringar</h2>
<ul>
    @foreach (var transaction in Model.Transactions)
    {
        <li>@Html.ActionLink(transaction.Date.ToShortDateString(), "Edit", new { id = transaction.Id })
            @transaction.Amount SEK från @transaction.Sender.Name till @transaction.Reciever.Name,
            @if (transaction.Confirmed)
            {
                <text>Bekräftad</text>
            }
            else
            {
                <text><span style="color:red">Obekräftad</span></text>
            }</li>
    }
</ul>
@Html.ActionLink("Registrera ny överföring", "Create")
