@model Cashfluir.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>
    Saldo</h2>
<table>
    <thead>
        <tr>
            <th />
            <th title="Ej bekräftade transkationer">EBT</th>
            <th>Har betalat totalt</th>
            <th>Ska betala totalt</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userbalance in Model.UserBalances)
        {
            <tr>
                <td>@userbalance.User.Name</td>
                <td> <span style="@(userbalance.HasUnconfirmedTransactions ? "color:red" : "")">@userbalance.HasUnconfirmedTransactions</td>
                <td>@userbalance.TotalAmountPaid.ToString("N2")</td>
                <td>@userbalance.TotalExpenses.ToString("N2")</td>
                <td class="@(userbalance.Balance < 0 ? "bad" : "good")">@userbalance.Balance.ToString("N2")</td>
            </tr>
        }
    </tbody>
</table>
